.navbar-brand {
    color: #FF7A00 !important; 
    font-weight: bold;
}

.navbar-nav {
    align-items: center; 
    padding-right: 1%;
}

.navbar-nav .nav-link:hover {
    color: #FF7A00;
}

.navbar a{
    color: aliceblue;
    padding-left: 2%;
}

.body span {
    color: #FF7A00;
    font-weight: bold;
}

.body {
    font-family: Inter, Lucida, Arial;
    background-color: #242424;
    color: aliceblue;
}


.body h1 {
    font-weight: bold;
}

.body .texto-principal {
    text-align: justify;
    padding: 5%;
}

.body .texto-principal img {
    width: 25px;
    margin: 2%;
}

.body .texto-principal hr {
    border-width: 2px;
    border-radius: 1%;
    width: 40%;
}

.body .texto-principal i span{
    padding-left: 2%;
    text-decoration: none;
    color: #ffffff;
}

.body .texto-principal a {
    text-decoration: none;
    color: aliceblue;
}

@keyframes float {
	0% {
		transform: translatey(0px) translateX(0px);
	}
	50% {
		transform: translatey(-10px) translateX(-5px);
	}
	100% {
		transform: translatey(0px) translateZ(5px);
	}
}

.body .main-image img{
    margin-left: 2%;
    margin-top: 2%;
    width: 100%;
    animation: float 6s ease-in-out infinite;
}

.einstein {
    margin-top: 3px;
    background-position: right;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0 , 0.6)) ,url("/img/einstein.png");
    background-repeat: no-repeat;
    padding: 5%;
}

#contato fieldset {
    padding: 1em;
}

#contato input {
    margin-top: 1%;
    border-style: double;
    border-color: #FF7A00;
    border-radius: 0.5em;
}

.footer {
    background-color: #242424;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer p {
    font-family: Inter, Lucida, Arial;
    padding-top: 1%;
}

