.navbar-brand {
    color: #FF7A00 !important; 
    font-weight: bold;
}

.navbar-nav {
    align-items: center; 
    padding-right: 1%;
}

.navbar-nav .nav-link:hover {
    color: #FF7A00;
}

.navbar a{
    color: aliceblue;
    padding-left: 2%;
}

.body span {
    color: #FF7A00;
    font-weight: bold;
}

.body {
    font-family: Inter, Lucida, Arial;
    background-color: #242424;
    color: aliceblue;
}

.body h1 {
    font-weight: bold;
}

.body .texto-principal {
    text-align: justify;
    padding: 5%;
}

.body img {
    width: 100%;
}

#contato fieldset {
    padding: 1em;
}

#contato input {
    margin-top: 1%;
    border-style: double;
    border-color: #FF7A00;
    border-radius: 0.5em;
}



@media (max-device-width: 600px) {
    .body {
        text-align: center !important; 
    }
}